@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Playfair+Display+SC&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Alfa Slab One', cursive;
  #font-family: 'Lobster', cursive;
  #font-family: 'Playfair Display SC', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
